
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);

body {
    font-family: 'Ubuntu Mono', sans-serif;
}

#chart-box {padding-bottom: 20px; margin-bottom: 20px; box-shadow: 0px 4px 8px 0px #e0e0e0;}

.chart{position:relative}
.chart .chart-tooltip{position:absolute;top:0;display:none;background-color:rgba(255,255,255,.95);border:2px solid #FFFFF;padding:5px 10px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 4px 12px rgba(0,0,0,0.3),0 0 0 transparent;-moz-box-shadow:0 4px 12px rgba(0,0,0,0.3),0 0 0 transparent;-ms-box-shadow:0 4px 12px rgba(0,0,0,0.3),0 0 0 transparent;-o-box-shadow:0 4px 12px rgba(0,0,0,0.3),0 0 0 transparent;box-shadow:0 4px 12px rgba(0,0,0,0.3),0 0 0 transparent}
.chart .chart-tooltip .date{font-size:14px}
.chart .chart-tooltip .date span{font-size:11px;color:#808080}
.chart .chart-tooltip .metric{font-weight:700;font-size:14px}
.chart .chart-tooltip .metric span{font-weight:normal;font-size:10px;color:#808080}
.chart .chart-tooltip .metric .up{font-weight:700;color:#97d453}
.chart .chart-tooltip .metric .down{font-weight:700;color:#d24}

.chart g .xAxis{font-size:10px}
.chart g .yAxis{font-size:14px}

#converter h3 { color: #333333; }
#converter .unity-values { margin-bottom: 18px; }
#converter .values { margin-top: 10px; }
#converter .unity-values .value, #converter .values .value { font-size: 26px; text-align: right; font-weight: 700; }
#converter .value.ref { border-bottom: 2px solid #606060; text-align: center; }
#converter .value.diff { border-bottom: 2px solid #606060; font-size: 18px; line-height: 37px; }
#converter .value.buy { border-bottom: 2px solid #2BBBD8; }
#converter .value.sell { border-bottom: 2px solid #F78D3F; }
#converter span.cur { font-size: 20px; }
#converter .info { font-size: 12px; color: #666666; text-align: right; }

#donations .qr { margin: 10px 0 0; }
#donations #qr-thumbnail { cursor: pointer; }

ul.account-list { padding: 0px 32px 0px 0px; text-align: right; list-style: none; }
ul.account-list input, ul.account-list button, ul.account-list select { width: 100%; }
ul.account-list .input-date { height: 20px; }
ul.account-list li { line-height: 28px; }
ul.account-list li.purchase-row { color: #909090; }
ul.account-list li.purchase-row:hover { color: #303030; }
ul.account-list .col-xs-3 { padding-left: 5px; padding-right: 5px; }
ul.account-list .remove-row { position: absolute; right: 6px; }
ul.account-list .market-row { font-weight: 700; border-top: 1px dashed #808080; margin-top: 12px; }

ul.account-list .remove-row a {
height: 14px;
width: 14px;
background-color: #f0f0f0;
color: #a0a0a0;
line-height: 12px;
display: inline-block;
text-align: center;
border-radius: 50% 50%;
}

ul.account-list .remove-row a:hover {
    background-color: #808080;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
