
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Lato:300,400,700,400italic);
// font-family: 'Droid Sans Mono', sans-serif;
// font-family: 'Lato', sans-serif;


@import "variables.less";
@import "mixins.less";

body {
    font-family: 'Lato', sans-serif;
    background-color: @bg-color-empty;
}

.light-text {
	font-weight: 300;
}

.bold-text {
	font-weight: 700;
}

.ms-text { // monospace text
	font-family: 'Droid Sans Mono', sans-serif;
}

.main-container {
	background-color: @bg-color;
	margin-top: 20px;
	margin-bottom: 40px;
	.border-radius(4px);
}

.navbar-brand {
	color: @blue;
	font-size: 32px;
}

#header-net {

	svg {
		background-color: @bg-color-empty;
		width: 100%;
		height: 100%;
	}
	path {
		fill: none;
		stroke: @lightergrey;
		stroke-width: 1px;
	}
}

#chart-box {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.chart {
	font-family: 'Droid Sans Mono', sans-serif;
	position: relative;
	background-color: @bg-color;

	.chart-tooltip{
		position: absolute;
		top: 0px;
		display: none;
		background-color: @almostwhite;
		padding: 5px 10px;
		.border-radius(2px);
		.box-shadow(0 4px 12px @lightgrey);

		.date {
			font-size: 14px;

			span {
				font-size: 11px;
				color: @midgrey;
			}
		}

		.metric {
			font-weight: 700;
			font-size: 14px;

			span {
				font-weight: normal;
				font-size: 10px;
				color: @midgrey;
			}

			.up {
				font-weight: 700;
				color: @green;
			}

			.down {
				font-weight: 700;
				color: @red;
			}
		}
	}

	g {

		.xAxis {
			font-size: 10px;
		}

		.yAxis {
			font-size:14px
		}
	}

}

#converter {

	h3 {
		color: @darkergrey;
	}

	.unity-values {
		margin-bottom: 18px;
	}

	.values {
		margin-top: 10px;
	}

	.unity-values .value, .values .value {
		font-size: 26px;
		text-align: right;
		font-weight: 700;
	}

	.value {

		&.ref {
			border-bottom: 2px solid @darkgrey;
			text-align: center;
		}

		&.diff {
			border-bottom: 2px solid @darkgrey;
			font-size: 18px;
			line-height: 37px;
		}

		&.buy {
			border-bottom: 2px solid @color-buy;
		}

		&.sell {
			border-bottom: 2px solid @color-sell;
		}
	}

	span.cur {
		font-size: 20px;
	}

	.info {
		font-size: 12px;
		color: @darkgrey;
		text-align: right;
	}

}

.account-list {

	ul {
		text-align: right;
		list-style: none;

		input,
		button,
		select {
			width: 100%;
			height: 28px;
		}
	}

	li {
		line-height: 28px;

		&.purchase-row {
			color: @lightgrey;
		}

		&.purchase-row:hover {
			color: @darkergrey;
		}
	}

	.remove-row {

		a {
			height: 14px;
			width: 14px;
			background-color: @almostwhite;
			color: @lightgrey;
			line-height: 12px;
			display: inline-block;
			text-align: center;
			.border-radius(50% 50%);

			&:hover {
				background-color: @midgrey;
				color: @white;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}

	.total-row {
		background-color: @lightergrey;
		color: @darkergrey;
		margin-top: 15px;
		.border-radius(2px);
	}

	.col-date,
	.col-btc {
		position: relative;
		float: left;
		width: 28%;
	}

	.col-currency,
	.col-rate {
		position: relative;
		float: left;
		width: 18%;
	}

	.col-btn {
		position: relative;
		float: left;
		width: 8%;
	}

	.summary {
		font-size: 20px;
		font-weight: 300;
		line-height: 40px;
	}
}

#donations {

	.qr {
		margin: 10px 0 0;
	}

	#qr-thumbnail {
		cursor: pointer;
	}
}
