@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Lato:300,400,700,300italic,400italic);
// font-family: 'Droid Sans Mono', sans-serif;
// font-family: 'Lato', sans-serif;

@import "bootstrap/bootstrap";

@import "variables.less";
@import "mixins.less";

body {
    font-family: 'Lato', sans-serif;
    background-color: @bg-color-empty;
}

a, a:visited {
	color: @blue;
	.transition(all 250ms ease);

	&:hover {
		color: @orange;
		.transition(none);
	}
}

.light-text {
	font-weight: 300;
}

.bold-text {
	font-weight: 700;
}

.ms-text { // monospace text
	font-family: 'Droid Sans Mono', sans-serif;
}

header {
	position: relative;
	margin-bottom: 2px;

	a.brand {
		font-size: 32px;
		text-decoration: none;
	}
}

.main-container {
	background-color: @bg-color;
	margin-top: 20px;
	margin-bottom: 40px;
	padding-top: 12px;
	padding-bottom: 32px;
	.border-radius(4px);
}

#header-net {

	svg {
		background-color: @bg-color-empty;
		width: 100%;
		height: 100%;
	}
	path {
		fill: none;
		stroke: #f6f6f6;
		stroke-width: 1px;
	}
}

#main-metrics {
	height: 40px;
	line-height: 40px;

	.market-selector,
	.dates-selector {
		position: relative;
		display: inline-block;

		span.value {
			display: inline-block;
			font-size: 22px;
			line-height: 26px;
			font-style: italic;
			font-weight: 300;
			padding: 2px 10px 4px;
			margin-right: 18px;
			border: 1px solid transparent;
			border-radius: 3px;
			cursor: default;

			span.small {
				font-size: 18px;
			}

			&:hover {
				background-color: lighten(@color-buy, 30%);
				box-shadow: inset 0px 0px 8px -2px @color-buy;
			}
		}

		ul.options {
			display: none;
			position: absolute;
			top: 38px;
			background-color: @bg-color-empty;
			margin: 0px; padding: 0px; list-style: none; // TODO: reset ul, ol style
			border: 1px solid @almostwhite;
			line-height: 28px;
			min-width: 120px;
			box-shadow: 0px 0px 2px 2px @bg-color-empty;
			z-index: 10000;

			li {
				padding: 0px 16px;

				&.opt {
					cursor: pointer;

					&:hover {
						background-color: lighten(@color-buy, 16%);
					}
				}
			}
		}

		&.active {

			ul.options {
				display: block;
			}
		}

	}

	.dates-selector {
		ul.options {
			min-width: 330px;
		}
	}

	&:hover {

		.market-selector,
		.dates-selector {

			span.value {
				border-color: @lightgrey;
			}
		}
	}

	span.tag {
		font-size: 12px;
		color: @midgrey;
		text-transform: uppercase;
	}
}

#chart-box {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#main-chart {
	background-color: @bg-color;

	#frequencies {
		font-size: 12px;
		padding: 4px 0px;

		span.tag {
			color: @midgrey;
			text-transform: uppercase;
		}

		ul {
			display: inline;
			list-style: none;
			margin: 0px;
			padding: 0px;

			li {
				display: inline-block;
				padding: 0px 4px;
				cursor: pointer;

				&:hover {
					border-bottom: 2px solid @orange;
				}

				&.selected {
					border-bottom: 2px solid @blue;
				}
			}
		}
	}
}

.chart {
	font-family: 'Droid Sans Mono', sans-serif;
	position: relative;
	background-color: @bg-color;

	.chart-tooltip{
		position: absolute;
		top: 0px;
		display: none;
		background-color: @almostwhite;
		padding: 5px 10px;
		.border-radius(2px);
		.box-shadow(0 4px 12px @lightgrey);

		.date {
			font-size: 14px;

			span {
				font-size: 11px;
				color: @midgrey;
			}
		}

		.metric {
			font-weight: 700;
			font-size: 14px;

			span {
				font-weight: normal;
				font-size: 10px;
				color: @midgrey;
			}

			.up {
				font-weight: 700;
				color: @green;
			}

			.down {
				font-weight: 700;
				color: @red;
			}
		}
	}

	g {

		.xAxis {
			font-size: 10px;
		}

		.yAxis {
			font-size:14px
		}
	}

}

#converter {

	h3 {
		color: @darkergrey;
	}

	.unity-values {
		margin-bottom: 18px;
	}

	.values {
		margin-top: 10px;
	}

	.unity-values .value, .values .value {
		font-size: 26px;
		text-align: right;
		font-weight: 700;
	}

	.value {

		&.ref {
			border-bottom: 2px solid @darkgrey;
			text-align: center;
		}

		&.diff {
			border-bottom: 2px solid @darkgrey;
			font-size: 18px;
			line-height: 37px;
		}

		&.buy {
			border-bottom: 2px solid @color-buy;
		}

		&.sell {
			border-bottom: 2px solid @color-sell;
		}
	}

	span.cur {
		font-size: 20px;
	}

	.info {
		font-size: 12px;
		color: @darkgrey;
		text-align: right;
	}

}

.account-list {

	ul {
		text-align: right;
		list-style: none;

		input,
		button,
		select {
			width: 100%;
			height: 28px;
		}
	}

	li {
		line-height: 28px;

		&.purchase-row {
			color: @lightgrey;
		}

		&.purchase-row:hover {
			color: @darkergrey;
		}
	}

	.remove-row {

		a {
			height: 14px;
			width: 14px;
			background-color: @almostwhite;
			color: @lightgrey;
			line-height: 12px;
			display: inline-block;
			text-align: center;
			.border-radius(50% 50%);

			&:hover {
				background-color: @midgrey;
				color: @white;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}

	.total-row {
		background-color: @lightergrey;
		color: @darkergrey;
		margin-top: 15px;
		.border-radius(2px);
	}

	.col-date,
	.col-btc {
		position: relative;
		float: left;
		width: 28%;
	}

	.col-currency,
	.col-rate {
		position: relative;
		float: left;
		width: 18%;
	}

	.col-btn {
		position: relative;
		float: left;
		width: 8%;
	}

	.summary {
		font-size: 20px;
		font-weight: 300;
		line-height: 40px;
	}
}

#donations {

	.qr {
		margin: 10px 0 0;
	}

}

@import "shame.less";